{% extends "layout.html" %}
{% block body %}

<style>
.center {
  margin: auto;
  width: 60%;
  padding: 10px;
}
</style>

<div class="center">
    <div class="card" style="width:600px">
    <div class="card-body">
        <form action="{{url_for('pizzas_order_form')}}">
            <button class="btn btn-primary btn-block">
            Go to Orders Form
            </button>
        </form>
      </div>
    </div>
</div>

<div class="center">
    <div class="card" style="width:600px">
    <div class="card-body">
        <form action="{{url_for('users_login')}}">
        <button class="btn btn-primary btn-block">
        Admin access
        </button>
        </form>
    </div>
    </div>
</div>

{% endblock %}