{% extends "layout.html" %}
{% block body %}

<style>
.center {
  margin: auto;
  width: 60%;
  padding: 10px;
}
</style>

  <div class="center">
    <div class="card" style="width:600px">
    <div class="card-body">
      <table class="table table-striped table-hover table-bordered table-sm bg-white text-center">
        {% if name %}
        <label for="text" class="text-center">Hello <b>{{name}}!</b></label>
        {% endif %}
        <thead>
          <tr>
            <th colspan="3" class="text-center">Pizzas Order</th>
          </tr>
          <tr>
            <td><b>Order Id</b></td>
            <td><b>Type of Pizza</b></td>
            <td><b>Additional comments</b></td>
          </tr>
        </thead>
        <tbody>
          {% for pizza in pizzas %}
          <tr>
            <td>{{pizza.0}}</td>
            <td>{{pizza.1.split() | first | capitalize}}</td>
            <td>{{pizza.2}}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    </div>
</div>
<p></p>
<p></p>
<p></p>
<div class="center">
    <div class="card" style="width:600px">
    <div class="card-body">
      <form action="{{url_for('kill_session')}}">
              <button class="btn btn-primary btn-block">
        Log off session
      </button>
      </form>
    </div>
    </div>
</div>
<div class="center">
    <div class="card" style="width:600px">
    <div class="card-body">
      <form action="{{url_for('pizzas_order_form')}}">
              <button class="btn btn-primary btn-block">
        Go to Order Form
      </button>
      </form>
    </div>
    </div>
</div>

{% endblock %}